@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url('https://www.maketecheasier.com/assets/uploads/2021/11/Featured-Image-Live-Weather-Wallpapers-Android-800x400.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    height: 100%;
}

.main-forecast {
    padding: 20px 70px;
    width: 75%;
    height: 100%;
}

.location-date-time {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#location-display {
    cursor: pointer;
}



#city-input {
    display: none; /* Hidden by default */
    position: absolute;
    
    height: 25px;
    width: 150px;

    background: rgba(24, 24, 27, 0.8);
    color: #999;
    border-radius: 5px;
    border: solid 1px #999;
    padding: 0 5px;

    margin: 10px 0;
}

#current-location-btn {
    color: white;
    border: none;
    background: none;
    position: relative;
    bottom: 0;
    top: 10px;
    left: 155px;
    display: none;
    cursor: pointer;
}

.current-location-tooltip{
    font: 12px 'Poppins', sans-serif;
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #999;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%; /* Position the tooltip above the text */
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

#current-location-btn:hover .current-location-tooltip {
    visibility: visible;
    opacity: 1;
}

#search-icon {
    cursor: pointer;
    display: none;
}

.current-forecast {
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #aaa;
    border-bottom: 3px solid #999;
    margin-bottom: 10px;
    position: relative;
}

.current-forecast .temp {
    font-size: 100px;
    margin: 0;
}

.current-forecast .wind {
    font-size: 15px;
    margin-top: 0;
}

.current-forecast .wind img {
    width: 15px;
    height: 15px;
    padding-top: 3px;
}

.current-forecast .condition {
    font-size: 70px;
    position: absolute;
    bottom: 20px; /* Adjust as needed for spacing */
}

.day-forecast {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: scroll;
}

.day-forecast::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.day-forecast-item {
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    background: rgba(24, 24, 27, 0.8);
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 15px;

}





.weak-forecast {
    width: 25%;
    background: rgba(24, 24, 27, 0.8);
    border-left: 3px solid #999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.weak-forecast-head {
    font-size: 30px;
    margin-bottom: 40px;
    border-bottom: 3px solid #999;
}

.weak-forecast-item{
    display: flex;
    margin: 10px;
    justify-content: space-around;
    width: 70%;
}

.weak-forecast-item img {
    background: rgba(127, 127, 127, 0.4);
    border-radius: 10px;

}

.weak-forecast-min-max-temp {
    border-left: 2px solid rgba(127, 127, 127, 0.6);
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weak-forecast-day {
    display: flex;
    justify-content: start;
    flex-direction: column;
}



@media only screen and (max-width: 730px) {
    .container {
        flex-direction: column;
    }

    .main-forecast {
        width: 100%;
        padding: 0 0;
    }

    .location-date-time {
        padding: 0 20px;
        font-size: 18px;
    }

    

    .current-forecast {
        border: none;
        height: 65%;
        margin-bottom: 40px;
    }

    .day-forecast {
        justify-content: space-evenly;
    }

    .day-forecast-item {
        width: 100px;
    }

    .day-forecast-item-time{
        width: 75px;
    }

   

    .weak-forecast {
        width: 100%;
        height: 25%;
        border-left: none;
        flex-direction: row;
        overflow-x: scroll;
        background: none;
        justify-content: space-around;
    }

    .weak-forecast-head {
        display: none;
    }

    .weak-forecast-item {
        width: 280px;
        margin: 0 10px;
        justify-content: space-between;
        background: rgba(127, 127, 127, 0.4);
        border-radius: 10px;
        padding: 15px;
    }

    .weak-forecast-day {
        width: 160px;
        padding: 0 10px;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .main-forecast {
        width: 100%;
        padding: 0 0;
    }

    .location-date-time {
        padding: 0 20px;
        font-size: 18px;
    }

    .current-forecast {
        border: none;
        height: 65%;
        margin-bottom: 10px;
    }

    .current-forecast .temp {
        font-size: 75px;
    }

    .current-forecast .condition{
        font-size: 50px;
        bottom: 10px;
    }

    .day-forecast {
        justify-content: space-evenly;
        margin-bottom: 3px;
    }

    .day-forecast-item {
        width: 100px;
    }

    .day-forecast-item-time{
        height: 15px;
        width: 75px;
    }

   

    .weak-forecast {
        width: 100%;
        height: 25%;
        border-left: none;
        flex-direction: row;
        overflow-x: scroll;
        background: none;
        justify-content: space-around;
    }

    .weak-forecast-head {
        display: none;
    }

    .weak-forecast-item {
        width: 280px;
        margin: 0 5px;
        justify-content: space-between;
        background: rgba(127, 127, 127, 0.4);
        border-radius: 10px;
        padding: 5px;
    }

    .weak-forecast-day {
        width: 160px;
        padding: 0 10px;
    }
}